pydantic>=2,<3
numpy
scikit-learn
sentence-transformers
torch
torchvision
transformers
langchain
langchain-core
langchain-huggingface
langchain-chroma
chromadb
openai>=1,<2
python-dotenv
streamlit
pytest
flake8
sqlalchemy
pandas
tqdm
matplotlib
seaborn
datasets
evaluate
jupyter
ipykernel
